archive_fitting_result/
fitting_result/
hole_lc_plot/
binned_lc/
out_of_bounds/
SAP_fitting_result/
PDCSAP_fitting_result/
archive_SAP_fitting_result/
mcmc_result/
except_data_EB/
except_data_FP/
target_selection/
SAP_fitting_result_EB/
SAP_fitting_result_FP/
TOI_a_b_depth_sigma.txt
no_data_found_20230409.txt
depth_error/
.DS_Store
SAP_fitting_result_correct_0501/