fitting_result/
hole_lc_plot/
binned_lc/
out_of_bounds/
SAP_fitting_result/
mcmc_result/
except_data_EB/
except_data_FP/
archive_fitting_result/
archive_SAP_fitting_result/
PDCSAP_fitting_result/
depth_error/
SAP_fitting_result_EB/
SAP_fitting_result_FP/